<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.positronx.io" target="_blank" class="positronx">Boleto</a></div>
  <span class="nav-tool-items">
    <!-- <a mat-button *ngIf="!getloginVar" routerLink="login" routerLinkActive="active">INGRESAR</a> -->
    <a mat-button *ngIf="_auth.logedInvar" mat-raised-button routerLink="registro">REGISTRAR</a>
    <a mat-button *ngIf="_auth.logedInvar" (click)="logout()">SALIR</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>