<div>

    <mat-card *ngIf="registroisactive">

        <mat-card-title>{{editButton?'Editar':'Registrar'}} bus</mat-card-title>
        <mat-card-content>
            <form [formGroup]="registerForm">
                <span *ngIf="!editButton">

                    <mat-form-field class="m-r-8">
                        <mat-label>Empresa</mat-label>
                        <mat-select required formControlName="id_empresa" required>
                            <mat-option [value]="empresa.ID_EMPRESA" *ngFor="let empresa of empresas">
                                {{empresa.NOMBRE_EMPRESA|titlecase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
                <mat-form-field class="m-r-8">
                    <mat-label>Conductor</mat-label>
                    <mat-select required formControlName="id_cond" required>
                        <mat-option [value]="c.ID_COND" *ngFor="let c of conductores">
                            {{c.NOMBRE_COND|titlecase}} {{c.APELLIDO_COND|titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="m-r-8">
                    <input matInput placeholder="N&uacute;mero bus" formControlName="numero_bus" required>
                </mat-form-field>

                <mat-form-field class="m-r-8">
                    <input matInput placeholder="N&uacute;mero de asientos" formControlName="asientos_bus" required>
                </mat-form-field>

                <mat-form-field class="m-r-8">
                    <mat-label>Bus dos pisos</mat-label>
                    <mat-select required formControlName="dos_pisos_bus" required>
                        <mat-option value="1">Si </mat-option>
                        <mat-option value="0">No </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="m-r-8">
                    <mat-label>Estado</mat-label>
                    <mat-select required formControlName="estado_bus" required>
                        <mat-option value="1">Activo </mat-option>
                        <mat-option value="0">Inactivo </mat-option>
                    </mat-select>
                </mat-form-field>



                <br>
                <br>
                <button mat-raised-button color="primary" (click)="registrarBus()">Guardar</button>
                <span class="button-space"></span>
                <button mat-raised-button color="primary" (click)="cancelarRegistro()">Cancelar</button>
            </form>
        </mat-card-content>
    </mat-card>


    <br>

    <span style="padding: 10px; float:right;">
        <button mat-stroked-button color="primary" (click)="VerInactivos()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-stroked-button (click)="!registroisactive?registroisactive=true:registroisactive=false "
            color="primary">
            <mat-icon>{{registroisactive?'arrow_drop_up':'arrow_drop_down' }}</mat-icon>
        </button>
        <button mat-stroked-button color="primary" (click)="refreshTable()">
            <mat-icon>refresh</mat-icon>
        </button>
    </span>
    <h3>Listado de buses</h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

        <ng-container matColumnDef="numeracion">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let j = index"> {{j+1}} </td>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="numero_bus">
            <th cell-centered mat-header-cell *matHeaderCellDef>No. bus</th>
            <td cell-centered mat-cell *matCellDef="let element"> {{element.NUMERO_BUS}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="id_cond">
            <th mat-header-cell *matHeaderCellDef>Conductor</th>
            <td mat-cell *matCellDef="let element"> {{element.NOMBRE_COND|titlecase}}
                {{element.APELLIDO_COND|titlecase}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="asientos_bus">
            <th cell-centered mat-header-cell *matHeaderCellDef>No. asientos</th>
            <td cell-centered mat-cell *matCellDef="let element"> {{element.ASIENTOS_BUS}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="dos_pisos">
            <th cell-centered mat-header-cell *matHeaderCellDef>Dos Pisos</th>
            <td cell-centered mat-cell *matCellDef="let element"> {{element.DOS_PISOS_BUS==1?'Si':'No'}} </td>
        </ng-container>


        <ng-container matColumnDef="opciones" sticky>
            <th cell-centered mat-header-cell *matHeaderCellDef>Opciones</th>
            <td cell-centered mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="editElem(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="openDialog(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>