<div fxFlex="100" class="matero-col">

  <mat-card *ngIf="registroisactive">
    <mat-card-title>Registro de usuarios</mat-card-title>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="registrarUser()">
        <mat-form-field class="m-r-8">
          <input matInput placeholder="Username" formControlName="username" required>
        </mat-form-field>

        <mat-form-field class="m-r-8">
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="m-r-8">
          <input matInput placeholder="Nombre" formControlName="name">
        </mat-form-field>
        <mat-form-field class="m-r-8">
          <!-- <input matInput placeholder="Password" type="password" formControlName="password" required> -->
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="m-r-8">
          <mat-label>Elija un rol...</mat-label>
          <mat-select required formControlName="tipo_usuario" required>
            <mat-option [value]="roles.id" *ngFor="let roles of tipouser">{{roles.descripcion|titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button color="primary">Guardar</button>
      </form>
    </mat-card-content>
  </mat-card>

  <br>

  <span style="padding: 10px; float:right;">
    <button mat-stroked-button (click)="!registroisactive?registroisactive=true:registroisactive=false "
      color="primary">
      <mat-icon>{{registroisactive?'arrow_drop_up':'arrow_drop_down' }}</mat-icon>
    </button>
    <span></span>
    <button mat-stroked-button color="primary" (click)="refreshTable()">
      <mat-icon>refresh</mat-icon>
    </button>
  </span>

  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="numeracion">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let j = index"> {{j+1}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="tipo_user">
      <th mat-header-cell *matHeaderCellDef>Tipo Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="session_m">
      <th mat-header-cell *matHeaderCellDef>Duraci&oacute;n (minutos) </th>
      <td mat-cell *matCellDef="let element"> {{element.session_m}} </td>
    </ng-container> -->

    <ng-container matColumnDef="opciones" sticky>
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="openDialog(element,true)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialog(element,false)">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>